#Taskbar { height: 28px; border-top: solid 1px #CCCCCC; cursor: default; }

#PreverButton { float: left; height: 28px; width: 56px; background-image: url([p:PreverButton.jpg]); }
#PreverButton:hover { filter: alpha(opacity=80); opacity: 0.8; }

#TaskLeftButton { float: left; height: 28px; width: 9px; background-position: center; background-repeat: no-repeat; }
#TaskRightButton { float: left; height: 28px; width: 9px; background-position: center; background-repeat: no-repeat; }

#Taskbar .TaskbarSeparator { background-image: url([p:TaskbarSeparator.jpg]); }

#TaskBox { float: left; height: 28px; overflow: hidden; }
#TaskBox div { float: left; height: 22px; margin: 1px; margin-top: 2px; overflow: hidden; }
#TaskBox div img { float: left; height: 16px; width: 16px; margin: 3px; }
#TaskBox div span { line-height: 22px; white-space: nowrap; overflow: hidden; position: absolute; }

#TaskBox .Current { border-left: solid 1px #999999; border-right: solid 1px #CCCCCC; border-top: solid 1px #999999; border-bottom: solid 1px #CCCCCC; background-color: #EEEEEE; color: #666666; }
#TaskBox .Normal { background-color: #FFFFFF; border: solid 1px #CCCCCC; color: #999999; }
#TaskBox .Normal:hover { background-color: #EEEEEE; }

#QuickMenuButton { float: left; height: 28px; width: 16px; background: center no-repeat url([p:QuickMenu.jpg]); filter: alpha(opacity=50); opacity: 0.5; }
#QuickMenuButton:hover { filter: alpha(opacity=100); opacity: 1; }

#InformationBox { float: left; height: inherit; }
#TimeBox { color: #999999; }