$L .Main { background-color: #FFFFFF; border: solid 1px #CCCCCC; text-align: center; line-height: 48px; height: 48px; width: 198px; }
$L a { text-decoration: none; }
$L a:hover { text-decoration: underline; }